<head>
    <style>
        body {
            background-image: url('image/i.jpg');
            background-size: cover;
            background-position: center;
             
        }
    </style>
</head>

<body  background-color: #e65c5c;>

<h3 ><i class="fas fa-book-reader"></i> StoryBooks</h3>
<div class="section" >
    <p class="lead">Create public and private stories from your life</p>
</div>
<div class="divider" ></div>
<div class="section" >
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
    <a href="/register" class="btn orange">register  by mail</a>
    <p>Already have an account? <a href="/login-email">Click here to log in</a></p>

   <!-- <button class="login-button">register</button><p>register here by mail </p>-->
</div>
</body>