<h3>Edit Story</h3>
<div class="row">
    <form action="/stories/{{story._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{story.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select story.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select id="category" name="category" required>
                    {{#select Story.Category}}
                    <option value="">Select a category</option>
                    <option value="fiction">Fiction</option>
                    <option value="non-fiction">Non-fiction</option>
                    <option value="poetry">Poetry</option>
                    <option value="Drama">Drama</option>
                    <option value="Others"selected>Others</option>
                    {{/select}}
                </select>
                <label for="category">category</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Tell Us Your Story:</h5>
                <textarea id="body" name="body" required>{{story.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>